#wall {
  margin:20px 0px 10px 20px;
}
.msg{
  margin: 5px;
}
.text-container .manage{
  margin-left: 20px;
}
input.comment{
  height: 21px;
}
div.wall-popup, div.edit-popup{
  margin-top: 10px;
  margin-left: 35px;
}
#wall > .msg {
  margin-bottom:20px;
}
.msg.comment{
  margin-left:30px;
}
.hidden-msg{
  opacity:0.2;
}
div.like{
  display: inline;
  margin-left: 10px;
  vertical-align: middle;
}
div.like.liked{
  color: #3db8e5;
}
div.like:hover{
  color: #3db8e5;
  cursor: pointer;
}
div.like .count{
  margin-left:5px;
}
